#levus-menu.mobile {
    position: relative;
    z-index: 8;
}

#levus-menu.desktop .levus-wrapper {
    display: none;
}

#levus-menu.mobile .levus-wrapper {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--dark);
    z-index: 8;
}

.levus-wrapper::after {
    content: '';
    background: url('../images/menu.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 32px;
    right: 40px;
    z-index: 9;
    -webkit-transition: background .5s;
    transition: background .5s;
}

#levus-menu.mobile>ul {
    position: absolute;
    z-index: 7;
    top: 80px;
    max-height: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: max-height .1s, transform .1s;
    transition: max-height .1s, transform .1s;
}

#levus-menu.mobile.show>ul {
    width: 100%;
    max-height: 100%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transition: max-height .2s, transform .2s;
    transition: max-height .2s, transform .2s;
}

#levus-menu.mobile.show>ul>li {
    background: var(--dark);
    padding: 0 0 0 10px;
}

#levus-menu.mobile.show .levus-wrapper::after {
    background: url('../images/close.png');
}

#levus-menu.mobile.show li {
    display: block;
    position: relative;
    z-index: 10;
}

#levus-menu.mobile.show li a {
    padding: 5px 15px 5px 5px;
    display: inline-block;
    color: var(--light);
    text-decoration: none;
}

#levus-menu.mobile.show li ul {
    margin: 0 0 0 10px;
}

#levus-menu.mobile.show li li ul {
    margin: 0 0 0 20px;
}

#levus-menu.mobile .parent::after {
    content: '';
    background: url('../images/down.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 38px;
}

#levus-menu.mobile.show li.parent>ul {
    position: relative;
    height: 0;
    left: -999px;
    -webkit-transition: left 1s, height 2s;
    transition: left 1s, height 2s;
}

#levus-menu.mobile.show li.parent.show>ul {
    height: auto;
    left: 0;
}