@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap&subset=cyrillic');
@import url('./levus-nav-desktop.css');
@import url('./levus-nav-mobile.css');
:root {
    --dark: #1f1f1f;
    --gray: #666;
    --light: #fff;
    --red: #dc3545;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", "Helvetica", "Arial", sans-serif;
}

#header {
    background: var(--dark);
    display: flex;
    align-items: center;
    height: 80px;
}

#levus-menu {
    width: 1200px;
    height: 100%;
    margin: auto;
}

@media(max-width: 1240px) {
    #levus-menu {
        width: 100%;
    }
}

a,
a:visited {
    color: var(--light);
}